<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<!-- Basic Page Needs
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<meta charset="utf-8">
			<title>Vasanth Sarathy</title>
			<meta name="description" content="Vasanth Sarathy's Personal Website">
			<meta name="author" content="Vasanth Sarathy">

			<!-- Mobile Specific Metas
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<!-- FONT
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
			<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


			<!-- CSS
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<link rel="stylesheet" href="/static/css/normalize.css">
			<link rel="stylesheet" href="/static/css/skeleton.css">

			<!-- Favicon
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<link rel="shortcut icon" href="http://faviconist.com/icons/51deba08fb76ec56dd1fa7087f04b6dd/favicon.ico" />

			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			
		{% endblock %}
	</head>
	<body>
		<!-- Header -->
		<header>
			<div class="row" style="text-align: center">
				<div class="eight columns" style="padding-top: 5%; padding-bottom: 1%; padding-left: 5%">
					<h1> Vasanth Sarathy </h1>
				</div>
				<div class="three columns" style="padding-top: 3%; padding-bottom: 1%; padding-right: 3%; text-align:center">
					<img src="/static/images/vsarathy_logo.png" style="width:70%">
				</div>  
			</div>

			<div class="row" id ="menu" style="text-align: center" >	
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/bio.html">Bio</a></li>
					<li><a href="/research.html">Research Interests</a></li>
					<li><a href="/">Blog</a></li>
					<li><a href="/">Projects</a></li>
					<li><a href="/">Cartoons</a></li>
				</ul>
			</div>
			<hr style= "margin-top: 0%; margin-bottom: 0%">
		</header>

		{% block content %}
		{% endblock %}
	</body>
	<footer>
		<div class="row" style="text-align: center">
			<hr style= "margin-top: 0%; margin-bottom: 2%">
    		<h6>
    			Website by <a href="http://vsarathy.com">Vasanth Sarathy</a> | Copyright © 2015 | Click here for <a href="https://github.com/vasanthsarathy/vsarathy.com-flask">source (flask)</a>.
    		</h6>
    	</div>
	</footer>
</html>