{% extends 'base.html' %}
{% block content %}
	<div class="row">
    	<div class="four columns" style="padding-left: 3%; padding-top: 3%" >
        	<img src="/static/images/profile_pic_bw.JPG"  style="width:95%">
        	<p> vsarathy (at) gmail (dot) com <p>
        	<p> <a href="https://www.linkedin.com/in/vasanthsarathy">LinkedIn</a> <br>
            <a href="https://twitter.com/vasanthsarathy">Twitter</a>  <br>
            <a href="https://github.com/vasanthsarathy">Github</a>  </p>
      	</div>
      	<div class="eight columns" style="padding-top: 3%; padding-right: 3%; padding-left: 3%" >
        	<p>I am a Computer Science and Cognitive Science PhD student who designs clever robots. I'm inspired by the possibility of artificially reconstructing human-like consciousness. I love thinking about mathematical and computational patterns in the human thought process. For example: Where do novel ideas come from? What is insight and how do we get eureka moments? Why do we find newspaper cartoons funny? How do come up with ingenious solutions to everyday problems (MacGyver)? </p>

        	<p>I also love drawing cartoons - especially, the single panel New Yorker-style ones! I'm always looking for ways to share and teach science through the language of cartoons. </p>

        	<p>When I'm not thinking about math, robots or my <a href="/research.html">research</a>, I love spending time with my family, getting outdoors, and drawing cartoons.  <a href="/">(More)</a> </p>
      	</div>
    </div>
{% endblock %}