{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="twelve columns" style="padding:3%">
    <p>Humans are extremely fast learners and can learn and apply novel concepts from just one example and a short Q&A session with their teacher. They can paraphrase these concepts and recognize them even if they are slightly modified. I am deeply interested in identifying mathematical patterns in these abilities, and then reconstructing them in robots and artificial agents. </p>

    <h5>Research Questions:</h5>

    <ol>
      <li> How should robots combine information from all their senses (visual, auditory etc.) to perceive reality?  </li>
      <li> How should multi-sensory information be represented, mathematically, so that important ideas can be abstracted, generalized and re-applied in different situations?</li>
      <li> What is mathematical structure of a human imagination and what type of computational architecture is needed to allow robots to imagine and reason through alternative realities? </li>
    </ol>

    <h5>Collaborations, anyone? </h5>

    <p>My research is inherently multi-disciplinary and I'm always looking for collaborators who are driven, like I am, to work together on questions about human cognition and artificial intelligence. </p>

    <p>Here are some topics I am currently exploring: </p>

    <ol>
      <li> <u>Mathematics</u> - Dempster-Shafer Theory, Uncertain Logic, Event Calculus</li>
      <li> <u>Computer Science</u> -  Artificial Intelligence (AI), Knowledge Representation, Answer Set Programming</li>
      <li> <u>Cognitive Science/Psychology</b></u> - Learning Strategies, Pattern Recognition, Decision-Making</li>
      <li> <u>Philosophy</u> - Causality, Affordances, Imagination</li>
      <li> <u>Neuroscience</u> - Perception, Ideasthesia and Synesthesia</li>
    </ol>
  </div>
</div>
{% endblock %}